<!-- footer -->
<footer class="footer-site">
  <div class="container">
	<div class="row">

	  <div class="col-md-5">
		<h4>opuscule</h4>
		<pre class="footerpre">oh-puhs-kyool</pre><p>a small or minor work, or composition</p>
		<!-- <p>The small business web design experts at Opuscule are happy to learn about your project, and find a way to meet your budget. From websites to SEO, WordPress to eCommerce, we have helped many clients just like you.</p> -->
	  </div>
	  <div class="col-md-4">
		<h4>contact</h4>
		<p style="line-height:1.9;"><a href="tel:+13477666787">(347) 766-6787</a><br><a href="mailto:hello@opuscule.com" class="email">hello@opuscule.com</a></p>
	  </div>
	  <div class="col-md-3">
		  <h4>connect</h4>
		<ul class="social-icons">
		  <li><a href="https://www.facebook.com/opuscule" target="_blank"><i class="fab fa-facebook"></i></a></li>
		  <li><a href="https://twitter.com/opuscule" target="_blank"><i class="fab fa-twitter"></i></a></li>
		  <li><a href="https://www.yelp.com/biz/opuscule-new-york" target="_blank"><i class="fab fa-yelp"></i></a></li>
		  <li><a href="https://github.com/opuscule" target="_blank"><i class="fab fa-github"></i></a></li>
		</ul>
	  </div>

	</div>
  </div>
</footer>

<script src="/scripts/vendor.js"></script>
<script src="/scripts/plugins.js"></script>
<script src="/scripts/main.js"></script>
