<!-- Loader -->
<div id="mask"><div class="loader-minimal"></div></div>

<!-- header -->
<header class="header">

  <nav class="navbar navbar-toggleable-md">
	<div class="container">

	  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <a class="navbar-brand" href="/">
		<img src="/images/opuscule_logo.svg" alt="Opuscule, LLC logo">
	  </a>


	  <div class="navbar-collapse collapse justify-content-end" id="containerNavbar" aria-expanded="false">
		<ul class="navbar-nav">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="/services/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
			<div class="dropdown-menu" aria-labelledby="dropdown04">
			  <a class="dropdown-item" href="/small-business-web-design/">Web Design</a>
			  <a class="dropdown-item" href="/seo/">SEO</a>
			  <a class="dropdown-item" href="/wordpress-maintenance/">WordPress Maintenance</a>
			  <a class="dropdown-item" href="/video-production/">Video Production</a>
			</div>
		  </li>
		  <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
		  <li class="nav-item"><a class="nav-link" href="/blog/" target="_blank">Blog</a></li>
		  <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
		</ul>
	  </div>
	</div>
  </nav>

</header>
<!-- {% if '/' in page.url %}<h2>active</h2>{% endif %} -->