<link rel="canonical" href="https://opuscule.com/">
<meta name="author" content="Opuscule, LLC">
<meta name="google-site-verification" content="06K1d1b5VFFG08qP5Ibi0Gy9Xny216w_ndaA-d-jsJA" />
<meta property="fb:app_id" content="179838123198" />
<meta property="og:title" content="Opuscule, LLC - Small Business Web Design and SEO" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://opuscule.com/" />
  <meta property="og:image" content="https://opuscule.com/images/opuscule-og.jpg" />
  <meta property="og:description" content="Working with individuals and small businesses since 2006, Opuscule helps get you online and services all your other digital marketing needs." />
<script type='application/ld+json'>
  {
	"@context": "http://www.schema.org",
	"@type": "ProfessionalService",
	"name": "Opuscule, LLC",
	"url": "https://opuscule.com/",
	"logo": "https://opuscule.com/images/opuscule-logo-footer.svg",
	"image": "https://opuscule.com/images/opuscule-og.jpg",
	"description": "Small Business Web Design and SEO, WordPress & Video Production",
	"address": {
	  "@type": "PostalAddress",
	  "addressLocality": "New York",
	  "addressRegion": "NY",
	  "postalCode": "10026",
	  "addressCountry": "United States"
	},
	"openingHours": "Mo, Tu, We, Th, Fr 08:00-19:00 Su 08:00-16:00",
	"contactPoint": {
	  "@type": "ContactPoint",
	  "telephone": "+1 (347) 766-6787",
	  "contactType": "Sales and Support"
	}
  }
</script>