---
layout: 'base.njk'
tags: portfolio
titleTag: Grab Ly's Banh Mi | Custom WordPress Web Design | Small Business SEO
metaDescription: Stop by for a quick bite and enjoy the traditional and new flavors of Vietnam.
---



    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            
            <div class="voffset-80 voffset-lg-110"></div>
            
            <h2>Grab Ly's Banh Mi</h2>
            <span class="separator accent"></span>
            <div class="voffset-30"></div>
            <p>From the sleepy Village of <a href="https://www.scarsdale.com/" target="_blank">Scarsdale</a> in Westchester, NY appeared a new restaurant serving the best banh mi sandwiches this side of Vietnam.</p>

			<p>Conveniently located, with plenty of parking, Grab Ly’s Banh Mi sandwich shop is open for lunch & dinner. Stop by for a quick bite and enjoy the traditional and new flavors of Vietnam.</p>

			<p>Beyond looking nice on desktop and mobile devices, the website allows John Ly and his staff to securely log in and update everything; including photos, menu items, prices and descriptions. Custom coding was implemented to showcase the logo and to display a Google Map.</p>
            <div class="voffset-30"></div>
            <p><a href="http://grablysbanhmi.com/" target="_blank" class="btn btn-featured-inverse">Launch Project</a></p>
            <div class="voffset-30 voffset-lg-50"></div>
			<p class="clientinfo">Web Design, WordPress</p>
          </div>
          
          <div class="col-md-6">
	          <div class="voffset-80 voffset-lg-110"></div>
	        <img src="/images/glbm3.jpg" alt="Grab Ly’s Banh Mi Menu" class="img-responsive voffset-40">
	        <img src="/images/glbm2.jpg" alt="Grab Ly’s Banh Mi" class="img-responsive portfolioOutline">
	        

          </div><!-- .6 -->
        </div>

      </div>
      <div class="voffset-100 voffset-lg-200"></div>
    </div>

