---
layout: 'base.njk'
tags: portfolio
titleTag: Gray Matter Analytics | Custom WordPress Web Design | SEO
metaDescription: The client said their current site 'appears dated and there is an abundance of irrelevant data' - Opuscule to the rescue!
---

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            
            <div class="voffset-80 voffset-lg-110"></div>
            
            <h2>Gray Matter Analytics</h2>
            <span class="separator accent"></span>
            <div class="voffset-30"></div>
            <p>When Gray Matter Analytics sent Opuscule an RFP, they said, "currently, our website appears dated and there is an abundance of irrelevant data." We worked with them to understand their users and establish goals &amp; KPIs. We reviewed their proprietary customer portal, using consistent design elements where possible. And turned custom design from <a href="http://www.jilliannadell.com/" target="_blank">Jillian Nadell</a> into a fully customizable WordPress website giving their team complete control over content and images.</p>

			<p>But we didn't stop there! Opuscule was able to add various Custom Post Types to accommodate their press releases and case studies plus delivered a comprehensive style guide. We ensured their site would run on a secure, optimized server and incorporated SEO best practices throughout the site.</p>
            <div class="voffset-30"></div>
            <p><a href="https://www.graymatteranalytics.com/" target="_blank" class="btn btn-featured-inverse">Launch Project</a></p>
            <div class="voffset-30 voffset-lg-50"></div>
			<p class="clientinfo">Web Design, WordPress, SEO</p>
          </div>
          
          <div class="col-md-6">
	          <div class="voffset-80 voffset-lg-110"></div>
	          <img src="/images/gma-home-page.jpg" alt="Gray Matter Analytics Design" class="voffset-40" />
	          
	          <img src="/images/gma-typography.jpg" alt="Typography Design" class="portfolioOutline voffset-40" />
	          
	          <img src="/images/gma-buttons.jpg" alt="Button Design" class="portfolioOutline voffset-40" />
	          
	          <img src="/images/gma-options.jpg" alt="WordPress Page Options" class="portfolioOutline" />
	          
          </div><!-- .6 -->
        </div>

      </div>
      <div class="voffset-100 voffset-lg-200"></div>
    </div>
