---
layout: 'base.njk'
titleTag: Robert C. Bowman III | Founder of Opuscule, LLC
metaDescription: I’m an eccentric, high energy team member, a hopeful romantic in love with user journeys – equally comfortable creating wireframes as I am coding email newsletters, launching PPC campaigns, or leading a team.
---

    <div class="voffset-80"></div>
    <div class="section">
      <div class="container">
	      <div class="row">
		      <div class="col-sm-6">
			      <div class="voffset-20"></div>
			      <h1>Robert C. Bowman III</h1>
				  <p>Hi! Since 2006 I have been working with companies large and small to create top notch products. I enhance world class brands by listening and producing intuitive user experiences. I’m an eccentric, high energy team member, a hopeful romantic in love with user journeys – equally comfortable creating wireframes as I am coding email newsletters, launching PPC campaigns, or leading a team.</p>
				  
				  <p>When I’m not thinking about or creating a better internet I can be found: changing dirty diapers; getting tattoos; geeking out over some podcast; re-watching “Parks & Rec.” or occasionally, trying my hand at open mic standup comedy!</p>
		      </div>
		      <div class="col-sm-6">
			      <img src="/images/robert-c-bowman-iii-1.jpg" alt="Robert C. Bowman III" class="img-responsive" />
		      </div>
	      </div>
          <div class="voffset-80"></div>
        </div>
      </div>
    </div>

    