---
layout: 'base.njk'
titleTag: Contact Opuscule - Florida Small Business Web Design and SEO
metaDescription: Since 2006, Opuscule has been helping small businesses across the US, getting them online and getting them found.
---

<!-- intro -->
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="voffset-80 voffset-lg-110"></div>
				<h2>Blog</h2>
			<p>lorem ipsum</p>
			</div>
			
		</div>
			<div class="voffset-80"></div>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
	
		<div class="row no-gutters visible">
			<div class="col-md-6">
				<div class="img-banner blog-image" id="blog-photo-post1"></div>
			</div>
			<div class="col-md-6">
				<div class="blog-text">
					<div class="vcenter blog-post-content">
						<div class="voffset40"></div>
						<h1 class="blog-post-title">standard blog post with image</h1>
						<div class="voffset20"></div>
						<p class="blog-post-date">07 June 2014  /  John Williams</p>
						<p class="blog-post-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac varius nisl. Vivamus sollicitudin imperdiet risus, non interdum justo posuere id. Nunc pellentesque ac nulla in blandit. Sed turpis orci, sodales non porta sit amet, euismod venenatis augue[...]</p>
						<div class="voffset40"></div>
						<div class="voffset50"></div>
						<a href="blog-post.html" class="readfull btn btn-inverse">read full article</a>
						<div class="voffset50"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>











    