---
layout: 'base.njk'
titleTag: Clients & Projects from Opuscule | WordPress Web Design | SEO
metaDescription: Check out Opuscule's portfolio of successful projects and happy clients.
---

    <!-- intro -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            
            <div class="voffset-80 voffset-lg-200"></div>
            
            <h1>Portfolio</h1>
            <p class="subtitle">We've been designing &amp; developing websites, recording videos, and optimizing for Google since 2006. Here's a sample of our work&hellip;</p>

            <div class="voffset-80 voffset-lg-130"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="section filter-grid-portfolio">
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <ul class="js-filters filters">
              <li data-filter="*" class="is-checked">All</li>
              <li data-filter=".WordPress">WordPress</li>
              <li data-filter=".design">Design</li>
              <li data-filter=".SEO">SEO</li>
            </ul>

            <div class="voffset-10 voffset-lg-40"></div>

          </div>
        </div>

    </div>
  </div>
  
  <div class="section grid-portfolio">
    <div class="container">

        <div class="row">
          <div class="grid-gallery columns-3">
            
            {%- for post in collections.portfolio | reverse -%}
            
            <div class="grid-item {% for item in post.data.tags %} {{ item }} {% endfor %}">
              <img src="{{ post.data.thumbnailimage }}" alt="{{ post.data.title }}">
              <div class="grid-item__rollover">
                  <a href="{{ post.url }}">
                    <div class="containertext">
                      <div class="titleinfo">{{ post.data.title }}</div>
                      <div class="tagsinfo">{% for item in post.data.tags %} {{ item }} {% endfor %}</div>
                    </div>
                  </a>
              </div>
            </div>
            
            
            
            {%- endfor %}
            
              
          </div>

          <p class="loadmore"><span class="js-loadmore">view more</span></p>

            <div class="js-more-items grid-gallery-more-items">
              <div class="grid-item packaging">
                <img src="images/demo/portfolio/portfolio9.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Mencken</div>
                        <div class="tagsinfo">Packaging</div>
                    </div>
                  a>
                </a></div>
              </div>
              <div class="grid-item web">
                <img src="images/demo/portfolio/portfolio11.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Heretic</div>
                        <div class="tagsinfo">Website</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

        </div>

      </div>

    </div>
