---
layout: 'base.njk'
titleTag: Clients & Projects from Opuscule | WordPress Web Design | SEO
metaDescription: Check out Opuscule's portfolio of successful projects and happy clients.
---

    <!-- intro -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            
            <div class="voffset-80 voffset-lg-200"></div>
            
            <h1>Hi! We are Berk.</h1>
            <p class="subtitle"><b>Berk</b> is a multi-disciplinary <b>graphic design studio</b>. We love art direction, motion graphics, interactive design and illustration.</p>

            <div class="voffset-80 voffset-lg-130"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="section filter-grid-portfolio">
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <ul class="js-filters filters">
              <li data-filter="*" class="is-checked">All</li>
              <li data-filter=".wordpress">WordPress</li>
              <li data-filter=".design">Design</li>
              <li data-filter=".web">SEO</li>
              <li data-filter=".packaging">Packaging</li>
            </ul>

            <div class="voffset-10 voffset-lg-40"></div>

          </div>
        </div>

    </div>
  </div>
  
  <div class="section grid-portfolio">
    <div class="container">

        <div class="row">
          <div class="grid-gallery columns-3">
            
            <div class="grid-item design wordpress seo">
              <img src="/images/queensfoodtours.jpg" alt="Queens Food Tours">
              <div class="grid-item__rollover">
                  <a href="queensfoodtours.html">
                    <div class="containertext">
                      <div class="titleinfo">Queens Food Tours</div>
                      <div class="tagsinfo">Design, WordPress, SEO</div>
                    </div>
                  </a>
              </div>
            </div>
            
            <div class="grid-item wordpress seo">
              <img src="/images/dlcb.jpg" alt="Dexter Lake Club Band" class="portfolioOutline">
              <div class="grid-item__rollover">
                  <a href="dexterlakeclubband.html">
                    <div class="containertext">
                      <div class="titleinfo">Dexter Lake Club Band</div>
                      <div class="tagsinfo">WordPress, SEO</div>
                    </div>
                  </a>
              </div>
            </div>
            
              <div class="grid-item graphic">
                <img src="images/demo/portfolio/portfolio1.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Footwork</div>
                        <div class="tagsinfo">Graphic</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item graphic">
                <img src="images/demo/portfolio/portfolio2-3.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Silent Island</div>
                        <div class="tagsinfo">Graphic</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item branding">
                <img src="images/demo/portfolio/portfolio3.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">GB Identity</div>
                        <div class="tagsinfo">Branding</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item branding">
                <img src="images/demo/portfolio/portfolio4.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Octane</div>
                        <div class="tagsinfo">Branding</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item graphic">
                <img src="images/demo/portfolio/portfolio5.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Undesign</div>
                        <div class="tagsinfo">Graphic</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item graphic">
                <img src="images/demo/portfolio/portfolio6-3.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Handcover Book</div>
                        <div class="tagsinfo">Graphic</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item packaging">
                <img src="images/demo/portfolio/portfolio7.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Mencken</div>
                        <div class="tagsinfo">Packaging</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid-item web">
                <img src="images/demo/portfolio/portfolio8.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Heretic</div>
                        <div class="tagsinfo">Website</div>
                    </div>
                  </a>
                </div>
              </div>
          </div>

          <p class="loadmore"><span class="js-loadmore">view more</span></p>

            <div class="js-more-items grid-gallery-more-items">
              <div class="grid-item packaging">
                <img src="images/demo/portfolio/portfolio9.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Mencken</div>
                        <div class="tagsinfo">Packaging</div>
                    </div>
                  a>
                </a></div>
              </div>
              <div class="grid-item web">
                <img src="images/demo/portfolio/portfolio11.jpg" alt="">
                <div class="grid-item__rollover">
                  <a href="single-project.html">
                    <div class="containertext">
                        <div class="titleinfo">Heretic</div>
                        <div class="tagsinfo">Website</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

        </div>

      </div>

    </div>
